// Custom styles.

.sidebar,
.content-wrap,
.sidebar-inner,
.header-inner {
    background-color: rgba(255,255,255,0.75);
}

body {
    //background: url(https://raw.githubusercontent.com/wbytts/images/master/note/%E9%AD%94%E5%A5%B3%E5%85%B5%E5%99%A8-%E7%99%BD%E7%83%9B.png)
    background: url(https://source.unsplash.com/user/erondu);
    background-attachment: fixed;
    background-repeat: no-repeat;
    //background-position: -200px -180px;
    background-size: 100%;
}

// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
//    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
   -webkit-box-shadow: 0 0 5px rgba(180, 180, 180, .5);
   -moz-box-shadow: 0 0 5px rgba(180, 180, 180, .5);
  }

// 鼠标样式
//我的是黑色的箭头图标
//16x16
//https://raw.githubusercontent.com/wbytts/images/master/note/20190111163307.ico
//32x32
//https://raw.githubusercontent.com/wbytts/images/master/note/20190111163156.ico
* {
    cursor: url("https://raw.githubusercontent.com/wbytts/images/master/note/20190111163307.ico"),auto!important;
}
:active {
    cursor: url("https://raw.githubusercontent.com/wbytts/images/master/note/20190111163307.ico"),auto!important;
}


em {
    background: pink;
    font-style: normal;
}

article {
    border-radius: 20px;
    border: 1px solid gray;
}

*::selection {
    background-color: green;
}


